
body{
    direction: rtl;   
}

.pd-y{
    padding: 100px 0;
}

.navbar{
    box-shadow: 1px 5px 5px #ebebeb;
}

.navbar-nav li{
    margin: 5px;
}

.carousel-inner img{
    width: 100vw;
    height: 80vh;
}

.about-item
{
    text-align: right;
}

.about-item h1::after
{
    content: '';
    display: block;
    width: 20%;
    margin-top: 15px;
    height: 5px;
    background-color: #fbcf0b;
}

.about-item p
{
    margin-top: 30px;
}
.about-item button
{
margin: 30px 0;
}

.news .card
{
    text-align: right;
}

.news
{
text-align: right;
}
.news h2
{
    font-size:25px ;
    margin-top: 15px;
}
.news h2::after
{
    content: '';
    display: block;
    width: 20%;
    margin-top: 15px;
    height: 5px;
    background-color: #fbcf0b;
}

.news .news-left
{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.news .news-left p{
    margin-right: 5px;
}
.subscribe
{
    height: 500px;
    background-image:url(../images/subscribe-our-newsletter-bg.jpg) ;
    background-size: cover;
    position: relative;
}
.subscribe-item
{
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.subscribe-item p{

    line-height: 2;
}
.subscribe-item button
{
    margin-top: 3%;
}

.footer
{
    background-color:#162247;
    margin-top: 100px;
}

.footer-item
{
    text-align: right;
    
}

.footer .footer-item h4
{
    font-size: 18px;
}

.footer .footer-item .news-left{
    display: flex;
    align-items: center;
}

.footer .footer-item .sec-2  li
{
    margin: 15px 0;
    color: #fbcf0b;
}

.footer .footer-item .sec-2 li a
{
    color: #fbcf0b;
}

.footer .footer-item .formm
{
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 990px) {

    .footer .col-12:not(:first-child){
        margin-top: 50px;
    }

}


#topBtn{
    position: fixed;
    z-index: 1;
    top: 90%;
    left: 5px;
    border-radius: 10px;
    font-size: 25px;

}

/*spinner*/
.spinner {
 width: 100%;
 height: 100%;
 background-color: #fff;
 position: fixed;
 z-index: 9999;
 left: 0;
 top: 0;
 display: inline-block;
 display: flex;
 justify-content: center;
 align-items: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #281010;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

